*{
  font-family: 'Roboto';
}
html, body{
  margin:0;
}
.home_background{
  height: 100vh;
  background: rgb(144, 238, 144);
  position: relative;
  z-index: 0;
}
a {
  text-decoration: none;
  color: black;
}
.nav_container{
  display: flex;
  padding: 0 0 0 10px;
}
.flex_box{
  flex-grow: 1;
}
#main_nav{
  display: flex;
  float: right;
}
#main_nav > a{
  padding: 15px;
}
.home_message{
  color:white;
  padding: 20px;
  font-size: 3em;
  display: inline-block;
}
.home_message > * {
  margin:0;
}
#down{
  display: block;
  position: absolute;
  bottom: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#down:hover{
  cursor:pointer;
}
